<!DOCTYPE html>
<html>

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="functions.js" defer></script>
    <script src="script.js" defer></script>
    <script src="timeUpdater.js" defer></script>
    <script src="login-signup.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <title>Countdown</title>
</head>

<body>
    <div id="dateMaker" class="dateMaker">
        <h1>Please enter the info needed</h1>
        <div id="form">
            <form id="abc">
                <label for="dateNAME">Name:</label>
                <input type="text" id="dateNAME" name="dateNAME"><br>
                <label for="dateMMDDYYYY">Date:</label>
                <input type="date" id="dateMMDDYYYY" name="dateMMDDYYYY"><br>
                <label for="dateTIME">Time:</label>
                <input type="time" id="dateTIME" name="dateTIME">
                <!-- Make a button to set the time to the time now-->
                <button type="button" id="setTime">Set Time to now</button><br>

                <input type="submit" id="submit" value="Add"></input>
                <input type="reset" id="reset"></input>
                <input type="submit" id="cancel" value="Cancel"></input>
                <input type="submit" id="raw" value="Raw"></input>
            </form>
        </div>
    </div>
    <div id="main">
        <button id="add">Add new countdown</button>
        <div id="countdowns">
        </div>
    </div>
    <div id="login">
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" id="login" value="Login"></input>
            <input type="submit" id="register" value="Register"></input>
        </form>
    </div>
    <div id="signup">
        <form id="signupForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <label for="password2">Retype password:</label>
            <input type="password" id="password2" name="password2"><br>
            <input type="submit" id="signup" value="Signup"></input>
            <input type="submit" id="login" value="Login"></input>
        </form>
    </div>
</body>

</html>